# binary
/multiio
# build directory
/build/

# python build directories
__pycache__/
/python/build/
/python/dist/
/python/docs/markdown/
/python/docs/doctrees/
/python/SMmultiio.egg-info/

# nvim session
.s
